<section class="section">
    {% assign num_posts_per_row = 4 %}
    {% assign num_rows_offset_1 = site.categories.projects.size | divided_by: num_posts_per_row %}
    {% for i in (0..num_rows_offset_1) %}
    <div class="columns is-centered features">
        {% assign offset_val = num_posts_per_row | times: i%}
        {% for post in site.categories.projects limit: num_posts_per_row offset: offset_val %}

        {% assign j = offset_val | plus: forloop.index0 %}
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ post.image }}" class="modal-button" data-target="modal-image-posts{{j}}">
                    </figure>
                </div>

                <form action="{{ post.url | relative_url }}">
                <div class="card-content  modal-button is-link" data-target="modal-card-posts{{j}}" type="submit">
                    <div class="content">
                        <h6>{{ post.title }}</h6>
                        <p>{{ post.summary }}</p>
                        <!--<h6 class="post-date">{{ post.date | date_to_string }}</h6>-->
                    </div>
                </div>
                </form>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endfor %}
</section>









<!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    {% assign max = site.categories.projects.size %}
    {% for i in (0..max) %}
    {% assign post = site.categories.projects[i] %}
    <div id="modal-card-posts{{i}}" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-large card-modal-container">
            <!-- content -->
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by1">
                        <img src="{{ post.image }}" alt="butterfly">
                    </figure>
                </div>
                <div class="card-content card-modal-content is-mobile">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="./assets/images/profile_picture.jpeg">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ post.title }}</p>
                            <p class="subtitle is-6"><a href="https://github.com/kaiwen98">@{{ site.author.name }}</a></p>
                        </div>
                    </div>
                    <div class="content">
                        {{ post.content }}
                        <br>
                    </div>
                </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Image modal -->
    <div id="modal-image-posts{{i}}" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-huge is-image">
            <!-- content -->
            <img src="{{ post.image }}">
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endfor %}
    <!-- end tiny modal card -->


