<section class="section">
    {% assign num_posts_per_row = 4 %}
    {% assign num_rows_offset_1 = site.posts.size | divided_by: num_posts_per_row | minus: 1 %}
    {% for i in (0..num_rows_offset_1) %}
    <div class="columns is-centered features">
        {% assign offset_val = num_posts_per_row | times: i%}
        {% for post in site.posts limit: num_posts_per_row offset: offset_val %}

        {% assign j = offset_val | plus: forloop.index0 %}
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ post.image }}" class="modal-button" data-target="modal-image{{j}}">
                    </figure>
                </div>
                <div class="card-content  modal-button" data-target="modal-card{{j}}">
                    <div class="content">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.summary }}</p>
                        <form action="{{ post.url | relative_url }}">
                            <input class="button is-link modal-button" type="submit" value="Go to Post" />
                        </form>
                        <h6 class="post-date">{{ post.date | date_to_string }}</h6>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endfor %}
</section>









<!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    {% assign max = site.posts.size | minus: 1 %}
    {% for i in (0..max) %}
    {% assign post = site.posts[i] %}
    <div id="modal-card{{i}}" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <!-- content -->
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ post.image }}" alt="butterfly">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="/assets/images/profile_picture.jpeg">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ post.title }}</p>
                            <p class="subtitle is-6"><a href="https://github.com/nativvstudios">@{{ site.author.name }}</a></p>
                        </div>
                    </div>
                    <div class="content">
                        {{ post.content }}
                        {{i}}
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="{{ post.date }}">{{ post.date }}</time>
                    </div>
                </div>
            </div>
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Image modal -->
    <div id="modal-image{{i}}" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-huge is-image">
            <!-- content -->
            <img src="{{ post.image }}">
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endfor %}
    <!-- end tiny modal card -->


