<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <section class="hero is-dark is-halfheight ">

            <div class="hero-head">
                {% include header.html %}

            </div>

            <div class="hero-body" style="
                background-image: linear-gradient(rgba(255,255,255,0) 80%, rgba(255, 255, 255, 0.7)), url({{page.image}}); 
                background-size: 100%; 
                justify-content: center;">

                <div class="has-text-centered is-centered" style="background-color: rgba(0, 0, 0, 0.7); padding: 1rem; filter: blue(8px);">

                    <h1 class="title is-1" style="margin: 0;">
                        {{ page.title | escape }}
                    </h1>
                    <div class="is-divider">
                        <p class="subtitle">

                        {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                        </p>
                    </div>
                </div>
            </div>
            <hr class="no-margin-top"/>
        </section>

        <div class="post-content content"> {{content}} </div>



        <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
        <script src="../assets/js/wild.js"></script>
        <script src="../assets/js/custom.js"></script>

        {% include footer.html %}
    </body>
</html>
